@tailwind base;
@tailwind components;
@tailwind utilities;

input, textarea{
    @apply border-2 border-gray-400 rounded-md px-2 py-1 w-full;
    @apply mb-2;
}

input:focus, textarea:focus{
    @apply border-blue-700;
}

h1{
   @apply text-blue-700 mb-4 text-3xl font-medium
}

label{
    @apply text-blue-900
}

.btn-primary{
    @apply bg-blue-700 text-white px-5 py-1 rounded-md
}

table.basic{
    @apply w-full mt-4 
}


table.basic tr td{
 @apply border border-blue-700 p-2
}

table.basic thead tr td{
    @apply bg-blue-100 
}

table.basic a{
    @apply bg-blue-900 text-white py-1 px-2 rounded-md inline-flex
}